*{
    margin: 0;
}
body{
    background-color: antiquewhite;
}
.head{
    background: rgb(37, 37, 37);
    height: 70px;
    width: 100%;
}
.heading{
    color: white;
    padding:15px;
    font-family: Arial;
}   
.button{
    width: 50px;
    background: green;
    padding: 10px;
    left: 5px;
    position: relative;
    top: 20px;
}
.contact{
    border: 4mm ridge rgb(169, 50, 220);
    top: 150px;
    left: 50px;
    position: absolute;
}
.heading1{
    padding: 10px;
    font-family: fantasy;
    font-weight: bold;
}
.contactus{
    padding: 10px;
    padding-left: 40px;
    font-family:fantasy;
    font-size: 20px;
}
.footer{
    background:#194f92;
    height:50px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.right{
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}