*{
    margin: 0;
}
.menu{
    background-color: #2b263d;
    height: 50px;
}
.nav{
    background: rgb(37, 37, 37);
    padding-top: 10px;
    padding-bottom: 15px;
}
.navbuttons {
    color: white;
    font-family: system-ui;
    font-weight: bold;
    padding-left: 15px;
    text-decoration:none;
}
.d1{
    background-color: #ff9000;
    height: 2px;
}
.head{
    height: 450px;
    background: aqua url(./Images/84-846858_hd-wallpaper-software.png) no-repeat;
    background-size: 100% 450px;
}
.main{
    margin-top: 50px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 20px;
    width: 1000px;
    height: 1170px;
    border: 10px solid black;
}
.about {
    background: rgb(243, 243, 243);
    width: 400px;
    height: 1200px;
    margin-top: auto;
    margin-left: 1050px;
    
}
.footer{
    background:#194f92;
    height:50px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}       
.right{
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
